// LineBot setting
LINE_BOT_TOKEN=
LINE_BOT_SECRET=

// Database setting
DATABASE_URL=postgresql://postgres:password@localhost:5432/shopping

// IMGBB setting
IMGBB_API_KEY=


Postgres database setting
1: Download the pgadmin4 https://www.pgadmin.org/download/pgadmin-4-windows/
2: Install and remember your important information such like password.
3: Go to pgadmin4 admin 
4: Register server  and form in  the setting information.
5: Enter the data according to the aboved information. 
6: DATABASE_URL=postgresql://Yourusername:Yourpassword@(Yourhost)localhost:5432/Yourdatabasename
